header {
  background-color: gray;
  background: url(/static/summer-bg2.jpg) no-repeat center center;
  background-size: cover;
}

hgroup {
  padding: 6rem 0 10rem 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.5em;
}

hgroup,
hgroup h1 {
  color: white;
}

details summary {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
  list-style-type: none;
}
